<h1>Welcome to the Jungle!</h1>

<p>Jungle, is an American multinational technology company based in Montreal, Canada, which focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence. It is one of the Big Five companies in Canada. information technology industry, along with Google, Apple, Microsoft, and Facebook. The company has been referred to as "one of the most influential economic and cultural forces in the world", as well as the world's most valuable brand.</p>

